$col-head:#2e2e2e;/*头部背景色调*/
$col-nav:#fff;/*侧边栏色调*/
$col-bg:#e5ebe0;/*content 主背景*/
$col-font1:#333333;/*文字主色*/
$col-font2:#666666;/*二级字体色调*/
$col-bgf:#ffffff;/*所有白色*/
$col-font-hover:#999;
$col-small:#f4f4f4;/*侧边栏小div点击前颜色*/
$col-small2:#688948;/*侧边栏小div点击后颜色*/
$font-h1:16px;/*一级文字*/
$font-h2:14px;/*二级文字*/
$col-mosedown:#ddd;